@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --background-primary: #262626;
  --background-secondary: #161616;
  --foreground-primary: #f7f7f7;
  --foreground-secondary: #f0b542;
  --forground-tertiary: #161616;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.tertiary-colour {
  color: #161616 !important;
}

body {
  color: var(--foreground-primary);
}

h1 {
  font-family: var(--font-trade-gothic);
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;

  @media only screen and (min-width: 768px) {
    font-size: 43px;
    line-height: 60px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 60px;
  }
  @media only screen and (min-width: 1536px) {
    line-height: 76.46px;
    font-size: 70px;
  }
}

h2 {
  font-weight: bold;
  font-size: 25px;

  @media only screen and (min-width: 768px) {
    font-size: 30px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 38px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 45px;
  }
}

h3 {
  font-weight: bold;
  font-size: 20px;

  @media only screen and (min-width: 768px) {
    font-size: 25px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 25px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 30px;
  }
}

li,
a,
p {
  font-size: 18px;
  @media only screen and (min-width: 1536px) {
  }
  @media only screen and (min-width: 1536px) {
  }
}

.description-ellipses {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Number of lines to display before applying ellipsis */
}